i{
    color: blue;
    font-weight: bold
}

ol{
    color: red;
}


b{
    color: red;
    font-size: 20px;
}
ul {
    color: #805c70;
    font-style: italic;
    width: 500px;
}
label {
    border: 1px solid red;
}
h1{
    color: red;
    text-align: center;
}

h2{
    color: green;
}

.obv {
    border: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}

p{
    font: 12px/25px Arial;
    text-align: justify;
    width: 500px;
}